.container {
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-areas: 
      "topbar topbar topbar topbar"
      "nav nav nav nav"
      "main main main main";
    font-family: "Lato", sans-serif;
    font-style: normal;
}


h2 {
    display: inline;
    margin-left: .25rem;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    margin: 0 0 1rem;
}


.topbar {
    grid-area: topbar;
    background-color: #7477bf;
    color: white;
    padding: 1rem .75rem; 
    vertical-align: middle;
}

nav {
    background-color: #4d4c72;
    text-align: center;
    padding: .5rem;
    grid-area: nav;
    margin-bottom: 1rem;
}

main {
    grid-area: main;
}



.widget {
    padding: .75rem;
}

span {
    padding: .75rem;
    border-radius: 50px;
}

span:hover {
    background-color: #81c98f;
    color: white;
}

.nav-icon {
    fill: antiquewhite;
    width: 38px;
    margin: .3rem .75rem;
}

.notification {
    fill: antiquewhite;
    width: 24px;
    vertical-align: middle;
}

hr {
    border: .75px solid lightgrey;
}

canvas {
    margin: 1rem 0;
}

.profile {
    width: 38px;
    border-radius: 100%;
    vertical-align: middle;
}


.logo {
    font-weight: 300;
    vertical-align: middle;
}

.bold {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.user-info {
    display: inline;
    margin-left: auto;
    float: right;
    vertical-align: middle;
}

.user-name {
    padding: 0;
    margin-left: .25rem;
    vertical-align: middle;
    font-size: 1rem;
}


.vertical {
    border:         none;
    border-left:    1px solid white;
    display: inline;
    height:         100%;
    width:          1px;  
    margin: 0 .5rem;
    place-self: end;
    vertical-align: middle;

}

.alert {
    margin: auto;
    margin-bottom: 1rem;
    max-width: 70%;
    text-align: left;
    padding: .75rem 1rem;
    color: white;
    background-color: #7477bf;
    border-radius: 8px;
}
canvas {
    margin-bottom: 0;
    background-color: transparent;
}

.social {
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: 1rem .25rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "socialIcon stat"
      "socialIcon stat";
}

.socialIcon {
    fill: #7477bf;
    width: 80px;
    display: inline;
    grid-area: socialIcon;
    place-self: center;
}

.socialName {
    color: #7477bf;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

.socialStat {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    color: #777;
}

.stat {
    display: grid;
    grid-area: stat;
    align-items: center;
}


.member {
    text-align: center;
}

.memberPic {
    border-radius: 100%;
}

.memberName, .memberMail, .memberDate {
    margin: 0;
}

hr:has(+.member) {
    margin: 20px 10px;
}

label {
    display: none;
}

/* SWITCHES */
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #7477bf;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7477bf;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  form input, form textarea {
    display: block;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f5f5f5;
    border: 2px solid lightgray;
    margin: 1rem auto;
    width: 100%;
  }

  input::placeholder, textarea::placeholder {
    opacity: 0.5;
    color: #777;
  }

  button {
    background-color: #7477bf;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #7477bf;
    text-align: center;
    display: block;
    width: 100%;
  }

  .switchRow {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
    align-items: center;
    grid-area: switchRow;
  }

  .onOff span {
    padding: 0;
  }

  option[value=""][disabled] {
    display: none;
  }

  select {
    color: #777;
    display: block;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f5f5f5;
    border: 2px solid lightgray;
    margin: 1rem auto!important;
    width: 100%;
    grid-area: select;
  }

  .save {
    width: 40%;
    grid-area: save;
    margin-right: .5rem;
    width: calc(100% - .5rem);
  }

  .cancel {
    background-color: #777;
    width: 40%;
    grid-area: cancel;
    margin-left: .5rem;
    width: calc(100% - .5rem);

}

.onOff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
grid-template-areas:       
    "first first"
    "second second"
    "select select"
    "save cancel";
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}